<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timestamp Microservice</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <h1>Timestamp Microservice</h1>

    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li>Using date: <a href="api/2015-12-25">[url]/api/2015-12-25</a></li>
        <li>
          Using timestamp:
          <a href="api/1451001600000">[url]/api/1451001600000</a>
        </li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code
          >{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code
        >
      </p>
    </div>
  </body>
</html>
